@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ch-scrollycoding-sticker-width: 70ch;
}
html header {
  padding: 5px 25px;
  max-width: 100vw;
}
.presentation-mode .ch-scrollycoding {
  --ch-scrollycoding-sticker-width: 90vw;
}
.presentation-mode .ch-scrollycoding .ch-scrollycoding-content {
  flex-grow: 0;
  width: 0;
  opacity: 0;
  /* height: 600px; */
}
.presentation-mode .ch-scrollycoding .ch-scrollycoding-step-content {
  min-height: 600px;
  height: 600px;
}
.presentation-mode .notes {
  display: none;
}

html textarea {
  border-radius: 8px;
}
.prose {
  max-width: none;
}
.notes {
  /* padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background:  */
}
.prose p {
  max-width: 70ch;
}
.prose p:has(img) {
  max-width: 1000px;
}
.prose img {
  max-width: 90vw;
}
.prose ul {
  max-width: 70ch;
}
html .ch-scrollycoding-sticker .ch-code-scroll-parent {
  min-height: 600px;
}

h1 {
  padding: 0;
}
